<main>
    <h1>dash</h1>
    <ul>
        <li><a href="/adm/adaptabilidade">adapt</a></li>
        <li><a href="/adm/caracteristicaPet">caracteristicaPet</a></li>
        <li><a href="/adm/cor">cor</a></li>
        <li><a href="/adm/cuidadoVeterinario">cuidadoVeterinario</a></li>
        <li><a href="/adm/documentoPet">documentoPet</a></li>
        <li><a href="/adm/especie">especie</a></li>
        <li><a href="/adm/imagemPet">imagemPet</a></li>
        <li><a href="/adm/passwordHash">passwordHash</a></li>
        <li><a href="/adm/petCurtido">petCurtido</a></li>
        <li><a href="/adm/pet">pet</a></li>
        <li><a href="/adm/petvisualizado">petvisualizado</a></li>
        <li><a href="/adm/porte">porte</a></li>
        <li><a href="/adm/raca">raca</a></li>
        <li><a href="/adm/sociabilidade">sociabilidade</a></li>
        <li><a href="/adm/temperamento">temperamento</a></li>
        <li><a href="/adm/usuario">usuario</a></li>
    </ul>
</main>