<main>
    <h3>menu de cadastros</h3>
    <ul>
        <li><a href="/adm/adaptabilidade">adaptabilidade</a></li>
        <li><a href="/adm/caracteristicaPet">caracteristicaPet</a></li>
        <li><a href="/adm/cor">cor</a></li>
        <li><a href="/adm/cuidadoVeterinario">cuidadoVeterinario</a></li>
        <li><a href="/adm/documentoPet">documentoPet</a></li>
        <li><a href="/adm/especie">especie</a></li>      
        <li><a href="/adm/porte">porte</a></li>
        <li><a href="/adm/raca">raca</a></li>
        <li><a href="/adm/sociabilidade">sociabilidade</a></li>
        <li><a href="/adm/temperamento">temperamento</a></li>
        <li><a href="/adm/usuario">usuario</a></li>
    </ul>
    <h3>Controles</h3>
    <ul>
        <li><a href="/controle-usuario">controle de usuario</a></li>
    </ul>
</main>