<main>
    <form action="/adm/login" method="post">
        <label>usuario</label>
        <input type="text" name="useremail">
        <label>senha</label>
        <input type="password" name="password">
        <input type="submit" value="ENTRAR">
    </form>
</main>