<main>
    <style>
        table, tr, td{
             border: 1px solid black;
        }
    </style>
   <table>
    <thead>
        <tr>
            <th>#</th>
            <th>descricao</th>
            <th>opções</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>vive bem apartamento</td>      
            <td>icone de etidar excluir</td>          
        </tr>
        <tr>
            <td>1</td>
            <td>vive em casa com quintal</td>      
            <td>icone de etidar excluir</td>          
        </tr>
    </tbody>
   </table>
</main>