<main>

    <form method="post" action="/adm/adaptabilidade/new">
        <label>Descrição Adaptabilidade</label>
        <input type="text" name="descAdaptabilidade">
        <input type="submit" value="SALVAR">
        <a href="/adm/adaptabilidade">CANCELAR</a>

    <%
        if(msgErrors){
            msgErrors.forEach(error =>)
        }
    %>

    </form>
</main>