<main>
    
</main>app/views/adm/temperamento/edit.ejs app/views/adm/temperamento/footer.ejs app/views/adm/temperamento/head.ejs app/views/adm/temperamento/header.ejs app/views/adm/temperamento/index.ejs app/views/adm/temperamento/main.ejs app/views/adm/temperamento/new.ejs