<main>
    <h1>logo aqui</h1>
    <p>texto explicando algo</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, neque, eum, dolor deserunt repellendus voluptas corporis officia saepe suscipit tempore cum incidunt assumenda cumque? Quod inventore officia voluptatibus ullam cum?</p>

    <form>
        <label for="">usuario</label>
        <input type="text">
        <label>senha</label>
        <input type="password">
        <input type="submit">        
    </form>
    <a href="/login/nova-conta">CADASTRAR CONTA</a>
    <h3>img de exemplo</h3>
    <img src="/img/login.jpeg" alt="">
</main>