<main>
    <h1>logo aqui</h1>
    <h3>mensagem de boas vindas</h3>
    <h5>outras mensagens de boa vinda</h5>
    <a href="/nova-conta/avisos">SEGUINTE</a>
    <p>imgame de exemplo</p>
    <img src="/img/boas-vindas.jpeg">
</main>