<main>
     <div>barra de progresso</div>
    <a href="#">voltar <- </a>
    <h1>qual especie voce escolhe</h1>
    <form accept="" method="post">
        <label>adotar</label>
        <input type="checkbox">
         <label>doar</label>
        <input type="checkbox">
    </form>
</main>