<main>
    <div>barra de progresso</div>
    <a href="/login/voltar">voltar <- </a>

    <h3>qual é seu nome</h3>

    <form action="/nova-conta/contato" method="post">
        <input type="text">
        <p>avisos</p>
        <input type="submit" value="seguinte">
    </form>

    
     <p>imgame de exemplo</p>
    <img src="/img/nome.jpeg">
</main>
