<main>
     <div>barra de progresso</div>
    <a href="#">voltar <- </a>
    <h1>O QUE VOCE QUER</h1>
    <p>checkbox de escolha individual</p>
    <form action="/nova-conta/fazer" method="post">
        <label>adotar</label>
        <input type="checkbox" name="adotar" >
        <label>doar</label>
        <input type="checkbox" name="doar">
        <input type="submit" value="SEGUINTE">
    </form>
</main>


     <p>imgame de exemplo</p>
    <img src="/img/fazer-oque.jpeg">