<main>
     <div>barra de progresso</div>
    <a href="#">voltar <- </a>
    <h1>QUAL É SUA PREFERENCIA PARA PORCURAMOS</h1>
    <p>MULTIPLO CHEBOX NA PAGINA</p>
    <p>opçoes vira do back and</p>
    <form action="/nova-conta/buscar-por-preferencia" method="post">
        <p>ESPECIE</p>
        <label>gato</label>
        <input type="checkbox" name="gato">
        <label>cachorro</label>
        <br>
        <p>COR DA PELAGEM</p>
        <input type="checkbox" name="cachorro">
        <label>laranja</label>
        <input type="checkbox" name="gato">
        <label>preto</label>
        <input type="checkbox" name="cachorro">
        <br>
        <input type="submit" value="SEGUINTE">
    </form>
</main>


     <p>imgame de exemplo</p>
    <img src="/img/exemplo1.jpeg">
    <img src="/img/exemplo2.jpeg">
    <img src="/img/exemplo3.jpeg">