<main>
    <div>barra de progresso</div>
    <a href="#">voltar <- </a>
            <h1>QUAL É SUA PREFERENCIA PARA PORCURAMOS</h1>
            <p>MULTIPLO CHEBOX NA PAGINA</p>
            <p>opçoes vira do back and</p>
            <form action="/nova-conta/buscar-por-preferencia" method="post">
                <p>ESPECIE</p>
                <% especies.forEach(especie=>{%>
                    <label><%= especie.nome_especie %></label>
                    <input onclick="buscarRaca(this)" type="checkbox" name="especie" value="<%=especie.id_especie%>">
                <%})%>
                <br>
                <p>RAÇAS</p>
                <div id="racas">

                </div>
                <p>COR DA PELAGEM</p>
                <% cores.forEach(cor=>{%>
                    <label><%= cor.nome_cor %></label>
                    <input type="radio" name="cor" value="<%= cor.id_cor %>">
                <%})%>    
                     
                        <input type="submit" value="SEGUINTE">
            </form>
</main>

<p>imgame de exemplo</p>
<img src="/img/exemplo1.jpeg">
<img src="/img/exemplo2.jpeg">
<img src="/img/exemplo3.jpeg">